@model IEnumerable<testCore.Models.Component>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeCPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeScreen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeDisk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeDisk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizePin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeCPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeScreen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDisk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeDisk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeRam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizePin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laptop.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
